<div>
<h1>Edit Actor #<%=@actor.id %></h1>
</div>

<form action ="/update_actor/<%= @actor.id %>">

  <!--  Label and input for dob-->
  <label for="dob">
    Dob
  </label>
  <input type="text" id="dob" name="dob" placeholder="Dob" class="form control" value="<%= @actor.dob %>">

  <!--  Label and input for name-->
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" id="name" name="name" placeholder="Name" class="form control" value="<%= @actor.name %>">
  </div>

  <!--  Label and input for bio-->
  <div>
    <label for="bio">
      Bio
    </label>
    <input type="text" id="bio" name="bio" placeholder="Bio" class="form control" value="<%= @actor.bio %>">
  </div>

  <!--  Label and input for image_url-->
  <div>
    <label for="image_url">
      Image url
    </label>
    <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form control" value="<%= @actor.image_url %>">
  </div>


  <!--  Button to actually update the Actor-->
  <input type="submit" value="Update Actor" class="btn btn-primary">

</form>
