<div>
<h1>Movie #<%= @movie.id %></h1>
</div>

<dl>
<dt>Title</dt>
<dd><%=@movie.title %></dd>

<dt>Year</dt>
<dd><%=@movie.year %></dd>

<dt>Duration</dt>
<dd><%=@movie.duration %></dd>

<dt>Description</dt>
<dd><%=@movie.description %></dd>

<!-- ADD THIS COLUMN TO THE DATABASE -->
<dt>Director ID</dt>


<dt>Image</dt>
<dd><img src="<%= @movie.image_url %>" width="320"></dd>

</dl>

<a href = "/movies">Back to Movies</a>
